<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" href="./static/styles/style.css">
</head>
<body style="background-image: url('./static/public/fundo2.png');">
    <div>
        <img class="logo" src="./static/public/logo.png" alt="Logo não carregado">
        <a id="link_ultimo" href="/contato">Contato</a><span id="link">|</span>
        <a id="link" href="/quem_somos">Quem Somos</a><span id="link">|</span>
        <a id="link" href="/home">Home</a>
    </div>

    <div>
        <h1 class="text">Entre em contato</h1>
        <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque hic modi accusamus commodi natus eum perspiciatis, voluptatum in? Voluptas animi quam incidunt exercitationem sunt tempore sed iusto expedita et atque!</p>
        <hr class="text">
    </div>
    <div>
        <form class="text">
            <label for="email">Seu e-mail:</label><br>
            <input type="text" id="email" name="email"><br>
            <label for="assunto">Assunto:</label><br>
            <input type="text" id="assunto" nome="assunto"><br>
            <label for="descricao">Descrição:</label><br>
            <textarea name="descricao" id="descricao" cols="20" rows="2"></textarea><br>
            <input  type="submit">
        </form>
    </div>
    <div>
        <p id="texto_centro"><b>Todos os direitos reservados</b></p>
    </div>
    
</body>
</html>